.stopwatch {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  
  padding: 30px;
  margin: 10px 0;
  border: None;
  border-radius: 50%; /* Circular shape */
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(10,10,10); /* White text for contrast */
}