.cheating-detection {
  margin-bottom: 20px;
}

.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #cefad0;
  border-radius: 5px;
  margin: 10px 0;
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s;
}

.cheat-bar {
  background-color: blue;
}

.cheat-score-container {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.cheat-score {
  font-weight: bold;
}